In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('C:\\Users\\lenovo\\Documents\\S2\\Machin Learning\\RL && KNN && KVM\\Heart_health.csv')

In [5]:
data=df.copy()

In [9]:
data.shape

(724, 12)

In [6]:
data.head()

,ID,Name,Age,Gender,Height(cm),Weight(kg),Blood Pressure(mmHg),Cholesterol(mg/dL),Glucose(mg/dL),Smoker,Exercise(hours/week),Heart Attack
0,1,John Doe,45,Male,175,80,120/80,200,90,No,3,0
1,2,Jane Smith,35,Female,160,65,110/70,180,80,No,2,0
2,3,Michael Johnson,55,Male,180,85,130/85,220,95,Yes,4,1
3,4,Sarah Brown,40,Female,165,70,115/75,190,85,No,3,0
4,5,David Lee,50,Male,170,75,125/80,210,92,Yes,2,1

# Valeur null

In [5]:
data.isna().sum()

ID                      0
Name                    0
Age                     0
Gender                  0
Height(cm)              0
Weight(kg)              0
Blood Pressure(mmHg)    0
Cholesterol(mg/dL)      0
Glucose(mg/dL)          0
Smoker                  0
Exercise(hours/week)    0
Heart Attack            0
dtype: int64

# Data Clean

In [13]:
data_clean=data.drop(['ID','Name'],axis=1)

In [14]:
data_clean.columns

Index(['Age', 'Gender', 'Height(cm)', 'Weight(kg)', 'Blood Pressure(mmHg)',
       'Cholesterol(mg/dL)', 'Glucose(mg/dL)', 'Smoker',
       'Exercise(hours/week)', 'Heart Attack'],
      dtype='object')

In [15]:
data_clean.head()

,Age,Gender,Height(cm),Weight(kg),Blood Pressure(mmHg),Cholesterol(mg/dL),Glucose(mg/dL),Smoker,Exercise(hours/week),Heart Attack
0,45,Male,175,80,120/80,200,90,No,3,0
1,35,Female,160,65,110/70,180,80,No,2,0
2,55,Male,180,85,130/85,220,95,Yes,4,1
3,40,Female,165,70,115/75,190,85,No,3,0
4,50,Male,170,75,125/80,210,92,Yes,2,1

# Transormalisation

In [16]:
data_trans = data_clean.copy()

In [17]:
print("valeur unique de Gender est : ",data_trans['Gender'].unique())
print("valeur unique de Smoker est : ",data_trans['Smoker'].unique())

valeur unique de Gender est :  ['Male' 'Female']
valeur unique de Smoker est :  ['No' 'Yes']

In [18]:
from sklearn.preprocessing import LabelEncoder

lb = LabelEncoder()
catg=['Gender','Smoker']

for cat in catg:
    data_trans[cat] = lb.fit_transform(data_trans[cat])

In [21]:
print("valeur unique de Gender est : ",data_trans['Gender'].unique())
print("valeur unique de Smoker est : ",data_trans['Smoker'].unique())

valeur unique de Gender est :  [1 0]
valeur unique de Smoker est :  [0 1]

In [22]:
data_trans.head()

,Age,Gender,Height(cm),Weight(kg),Blood Pressure(mmHg),Cholesterol(mg/dL),Glucose(mg/dL),Smoker,Exercise(hours/week),Heart Attack
0,45,1,175,80,120/80,200,90,0,3,0
1,35,0,160,65,110/70,180,80,0,2,0
2,55,1,180,85,130/85,220,95,1,4,1
3,40,0,165,70,115/75,190,85,0,3,0
4,50,1,170,75,125/80,210,92,1,2,1

In [23]:
#Poids idéal d’un homme (en Kg) = Taille (en cm) – 100 – ((Taille (en cm) – 150) /4 ).
#Poids idéal d’une femme (en Kg) = Taille (en cm) – 100 – ((Taille (en cm) – 150) /2,5 ).
#data_test.loc['Ideal', data_test['Gender']==1] = data_test['Height(cm)']-100-((data_test['Height(cm)']-150)/4)
#data_test.loc['Ideal', data_test['Gender']==0] = data_test['Height(cm)']-100-((data_test['Height(cm)']-150)/2.5)

data_trans.loc[data_trans['Gender'] == 1, 'Ideal'] = data_trans['Height(cm)'] - 100 - ((data_trans['Height(cm)'] - 150) / 4)
data_trans.loc[data_trans['Gender'] == 0, 'Ideal'] = data_trans['Height(cm)'] - 100 - ((data_trans['Height(cm)'] - 150) / 2.5)

In [24]:
data_trans.head()

,Age,Gender,Height(cm),Weight(kg),Blood Pressure(mmHg),Cholesterol(mg/dL),Glucose(mg/dL),Smoker,Exercise(hours/week),Heart Attack,Ideal
0,45,1,175,80,120/80,200,90,0,3,0,68.75
1,35,0,160,65,110/70,180,80,0,2,0,56.00
2,55,1,180,85,130/85,220,95,1,4,1,72.50
3,40,0,165,70,115/75,190,85,0,3,0,59.00
4,50,1,170,75,125/80,210,92,1,2,1,65.00

In [25]:
data_trans.loc[data_trans['Ideal'] < data_trans['Weight(kg)'], 'Ideal'] = 0
data_trans.loc[data_trans['Ideal'] > data_trans['Weight(kg)'], 'Ideal'] = 1


data_trans['Ideal'] = data_trans['Ideal'].astype(int)

In [26]:
data_trans.head()

,Age,Gender,Height(cm),Weight(kg),Blood Pressure(mmHg),Cholesterol(mg/dL),Glucose(mg/dL),Smoker,Exercise(hours/week),Heart Attack,Ideal
0,45,1,175,80,120/80,200,90,0,3,0,0
1,35,0,160,65,110/70,180,80,0,2,0,0
2,55,1,180,85,130/85,220,95,1,4,1,0
3,40,0,165,70,115/75,190,85,0,3,0,0
4,50,1,170,75,125/80,210,92,1,2,1,0

In [27]:
data_trans['Ideal'].unique()

array([0])

In [28]:
data_trans['Blood Pressure(mmHg)'].unique

<bound method Series.unique of 0      120/80
1      110/70
2      130/85
3      115/75
4      125/80
        ...
719    118/76
720    123/80
721    120/78
722    125/78
723    121/77
Name: Blood Pressure(mmHg), Length: 724, dtype: object>

In [29]:
data_trans[['Systolic Pressure', 'Diastolic Pressure']] = data_trans['Blood Pressure(mmHg)'].str.split('/', expand=True)

# Convertir les valeurs des colonnes en type numérique
data_trans['Systolic Pressure'] = pd.to_numeric(data_trans['Systolic Pressure'])
data_trans['Diastolic Pressure'] = pd.to_numeric(data_trans['Diastolic Pressure'])

In [30]:
data_trans.head()

,Age,Gender,Height(cm),Weight(kg),Blood Pressure(mmHg),Cholesterol(mg/dL),Glucose(mg/dL),Smoker,Exercise(hours/week),Heart Attack,Ideal,Systolic Pressure,Diastolic Pressure
0,45,1,175,80,120/80,200,90,0,3,0,0,120,80
1,35,0,160,65,110/70,180,80,0,2,0,0,110,70
2,55,1,180,85,130/85,220,95,1,4,1,0,130,85
3,40,0,165,70,115/75,190,85,0,3,0,0,115,75
4,50,1,170,75,125/80,210,92,1,2,1,0,125,80

In [31]:
data_trans.drop(columns=['Blood Pressure(mmHg)'], inplace=True)

In [32]:
data_trans.head()

,Age,Gender,Height(cm),Weight(kg),Cholesterol(mg/dL),Glucose(mg/dL),Smoker,Exercise(hours/week),Heart Attack,Ideal,Systolic Pressure,Diastolic Pressure
0,45,1,175,80,200,90,0,3,0,0,120,80
1,35,0,160,65,180,80,0,2,0,0,110,70
2,55,1,180,85,220,95,1,4,1,0,130,85
3,40,0,165,70,190,85,0,3,0,0,115,75
4,50,1,170,75,210,92,1,2,1,0,125,80

In [35]:
data_trans['BMI'] = data_trans['Weight(kg)'] / ((data_trans['Height(cm)'] / 100) ** 2)

In [36]:
data_trans.head()

,Age,Gender,Height(cm),Weight(kg),Cholesterol(mg/dL),Glucose(mg/dL),Smoker,Exercise(hours/week),Heart Attack,Ideal,Systolic Pressure,Diastolic Pressure,BMI
0,45,1,175,80,200,90,0,3,0,0,120,80,26.122449
1,35,0,160,65,180,80,0,2,0,0,110,70,25.390625
2,55,1,180,85,220,95,1,4,1,0,130,85,26.234568
3,40,0,165,70,190,85,0,3,0,0,115,75,25.711662
4,50,1,170,75,210,92,1,2,1,0,125,80,25.951557

# Plot

In [38]:
data_plot = data_trans.copy()

In [39]:
data_plot.columns

Index(['Age', 'Gender', 'Height(cm)', 'Weight(kg)', 'Cholesterol(mg/dL)',
       'Glucose(mg/dL)', 'Smoker', 'Exercise(hours/week)', 'Heart Attack',
       'Ideal', 'Systolic Pressure', 'Diastolic Pressure', 'BMI'],
      dtype='object')

In [43]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

# Regresuin Logistique

In [44]:
from sklearn.linear_model import LogisticRegression

# Séparer les variables explicatives (features) et la variable cible (target)
X = data_plot[['Age', 'Gender', 'Cholesterol(mg/dL)', 'Glucose(mg/dL)', 'Smoker', 'Exercise(hours/week)', 'Systolic Pressure', 'Diastolic Pressure', 'BMI']]
y = data_plot['Heart Attack']

# Diviser les données en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Créer et entraîner le modèle de régression logistique
model = LogisticRegression()
model.fit(X_train, y_train)

# Faire des prédictions sur l'ensemble de test
y_pred = model.predict(X_test)

# Calculer la précision du modèle
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Afficher la matrice de confusion
conf_matrix = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:\n", conf_matrix)

Accuracy: 1.0
Confusion Matrix:
 [[59  0]
 [ 0 86]]

C:\Users\lenovo\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

# KNN

In [45]:
from sklearn.neighbors import KNeighborsClassifier



# Séparer les variables explicatives (features) et la variable cible (target)
X = data_plot[['Age', 'Gender', 'Cholesterol(mg/dL)', 'Glucose(mg/dL)', 'Smoker', 'Exercise(hours/week)', 'Systolic Pressure', 'Diastolic Pressure', 'BMI']]
y = data_plot['Heart Attack']

# Diviser les données en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Créer et entraîner le modèle KNN
k = 5  # nombre de voisins à considérer
model = KNeighborsClassifier(n_neighbors=k)
model.fit(X_train, y_train)

# Faire des prédictions sur l'ensemble de test
y_pred = model.predict(X_test)

# Calculer l'exactitude du modèle
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Afficher la matrice de confusion
conf_matrix = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:\n", conf_matrix)

Accuracy: 1.0
Confusion Matrix:
 [[59  0]
 [ 0 86]]

# SVM

In [62]:
import pandas as pd
from sklearn.svm import SVC



# Séparer les variables explicatives (features) et la variable cible (target)
X = data_plot[['Age', 'Gender', 'Cholesterol(mg/dL)', 'Glucose(mg/dL)', 'Smoker', 'Exercise(hours/week)', 'Systolic Pressure', 'Diastolic Pressure', 'BMI']]
y = data_plot['Heart Attack']

# Diviser les données en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Créer et entraîner le modèle SVM
model = SVC(kernel='linear')  # vous pouvez également essayer d'autres noyaux comme 'rbf' ou 'poly'
model.fit(X_train, y_train)

# Faire des prédictions sur l'ensemble de test
y_pred = model.predict(X_test)

# Calculer l'exactitude du modèle
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Afficher la matrice de confusion
conf_matrix = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:\n", conf_matrix)

Accuracy: 1.0
Confusion Matrix:
 [[59  0]
 [ 0 86]]